<mat-card>

  <mat-card-content>
    <ng-container *ngIf="isFyp()">
      <ng-container *ngIf="presentationModel">
        <p align="right">
        <span>
          <button *ngxPermissionsOnly="SystemRole.COORDINATOR"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.PRESENTATION" mat-raised-button
                  color="primary">
          Edit
        </button>
        </span>
          <span class="ml-1">
          <button *ngxPermissionsOnly="constant.ROLE_PANEL"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.PRESENTATION" mat-raised-button
                  color="primary">
          Evaluate Presentation
        </button>
        </span>
          <span class="ml-1">
          <button *ngxPermissionsOnly="constant.ROLE_SUPERVISOR"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.REPORT" mat-raised-button
                  color="primary">Evaluate Report
        </button>
        </span>

        </p>
        <ng-template #detailDisplay let-title="title" let-data="data">
          <div style="display: inline-block; width: 10%">
            {{title}}
          </div>
          <div style="display: inline-block;width: 90%">
            : {{(data) ? data : '-'}}
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Title',data:presentationModel.title}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Student',data:presentationModel.studentName}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Student Email',data:presentationModel.studentEmail}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Supervisor',data:presentationModel.supervisorModel.name}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Start Time',data:presentationModel.startTime|date:timeFormat}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'End Time',data:presentationModel.endTime|date:timeFormat}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Status',data:''}"></ng-container>

        <div>Panel:
          <ng-container *ngIf="!presentationModel.panelModels">
            -
          </ng-container>
        </div>

        <div *ngFor="let panel of presentationModel.panelModels; let i = index">
          Panel {{i + 1}}: {{panel.name}}
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isMaster()">
      <ng-container *ngIf="presentationModel">
        <p align="right">
        <span>
          <button *ngxPermissionsOnly="SystemRole.COORDINATOR"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.PRESENTATION" mat-raised-button
                  color="primary">
          Edit
        </button>
        </span>
          <span class="ml-1">
          <button *ngxPermissionsOnly="constant.ROLE_PANEL"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.PANEL" mat-raised-button
                  color="primary">
          Evaluate
        </button>
        </span>
          <span class="ml-1">
          <button *ngxPermissionsOnly="constant.ROLE_CHAIRPERSON"
                  [routerLink]="routeConstant.EVALUATE+'/'+EvaluationType.CONFIRMATION" mat-raised-button
                  color="primary">Confirm Evaluation
        </button>
        </span>

        </p>
        <ng-template #detailDisplay let-title="title" let-data="data">
          <div style="display: inline-block; width: 10%">
            {{title}}
          </div>
          <div style="display: inline-block;width: 90%">
            : {{(data) ? data : '-'}}
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Title',data:presentationModel.title}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Student',data:presentationModel.studentName}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Student Email',data:presentationModel.studentEmail}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Supervisor',data:presentationModel.supervisorModel.name}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Start Time',data:presentationModel.startTime|date:timeFormat}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'End Time',data:presentationModel.endTime|date:timeFormat}"></ng-container>
        <ng-container
          *ngTemplateOutlet="detailDisplay;context:{title: 'Status',data:''}"></ng-container>

        <div>Panel:
          <ng-container *ngIf="!presentationModel.panelModels">
            -
          </ng-container>
        </div>

        <div *ngFor="let panel of presentationModel.panelModels; let i = index">
          Panel {{i + 1}}: {{panel.name}}
        </div>
      </ng-container>
    </ng-container>

  </mat-card-content>

</mat-card>
<router-outlet></router-outlet>
