<p class="pt-1 pr-1" align="right">
  <button mat-raised-button color="primary" [routerLink]="'create'">Create New Schedule</button>
</p>

<ng-container *ngIf="scheduleList">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let schedule of scheduleList">
      <mat-card (click)="dispatchViewSchedule(schedule.id)">
        <mat-card-title>
          <div class="pt-1 text-center">{{schedule.title || ''}}</div>
          <div class="pt-1 text-center">{{schedule.year}}/{{(schedule.year + 1)}}  Sem{{schedule.sem}}</div>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</ng-container>
