table {
  width: 100%;
}

.mat-column-position {grid-area: position;}
.mat-column-weight {grid-area: weight;}
.mat-column-name {grid-area: name;}
.mat-column-symbol {grid-area: symbol;}
.mat-column-nameLabel {grid-area: nameLabel;}
.mat-column-symbolLabel {grid-area: symbolLabel;}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
            "position weight nameLabel name "
            "position weight symbolLabel symbol";
}

tr.mat-header-row {
  grid-template-areas:
            "position weight nameLabel name";

.mat-column-symbol,
.mat-column-symbolLabel {
  display: none;
}
}

td, th {
  display: flex;
  align-items: center;
  padding-left: 5px !important;
  border-right: 1px solid rgba(128, 128, 128, .4);
}
