<div class="pl-2 pt-1"
     style="font: 300 28px/33px Roboto, 'Helvetica Neue', sans-serif;">Auto-scheduling
</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!--  first step-->
  <mat-step label="Select presentation to schedule">
    <form [formGroup]="firstFormGroup">
      <div>Select all as:
        <mat-form-field style="width: 15%" appearance="fill">
          <mat-label>presentation mode</mat-label>
          <mat-select>
            <mat-option (click)="clearAllCheckBox()" value="none">None</mat-option>
            <mat-option (click)="checkAllOnline()" value="online">Online</mat-option>
            <mat-option (click)="checkAllPhysical()" value="physical">Physical</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--      <ng-template matStepLabel>Select presentation to schedule</ng-template>-->
      <ng-container *ngIf="presentationModels">
        <table mat-table matSort class="w-100" *ngIf="dataSource" [dataSource]="dataSource">
          <!-- name Column -->
          <ng-container [matColumnDef]=displayedColumns[0]>
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%">Student Name</th>
            <td mat-cell *matCellDef="let row" style="width: 15%">{{row.studentName}}</td>
          </ng-container>

          <!-- title Column -->
          <ng-container [matColumnDef]=displayedColumns[1]>
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%">Title</th>
            <td mat-cell *matCellDef="let row" style="width: 40%">{{row.title}}</td>
          </ng-container>

          <!-- schedule time Column -->
          <ng-container [matColumnDef]=displayedColumns[2]>
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%">Scheduled Time</th>
            <td mat-cell *matCellDef="let row" style="width: 25%">{{(row.startTime|date:timeFormat)}}
              - {{(row.endTime|date:timeFormat)}}</td>
          </ng-container>

          <!-- check Column -->
          <ng-container [matColumnDef]=displayedColumns[3]>
            <th mat-header-cell *matHeaderCellDef style="width: 20%">Auto Schedule to</th>
            <td mat-cell *matCellDef="let row" style="width: 20%">
              <div style="display: inline-block" class="ml-2">
                <mat-checkbox class="ml-1" (click)="disableOtherModeIfThisChecked(row,PresentationMode.ONLINE)"
                              [(ngModel)]="row.online" [ngModelOptions]="{standalone: true}"
                              [value]="PresentationMode.ONLINE">Online
                </mat-checkbox>
                <mat-checkbox class="ml-1" (click)="disableOtherModeIfThisChecked(row,PresentationMode.PHYSICAL)"
                              [(ngModel)]="row.physical" [ngModelOptions]="{standalone: true}"
                              [value]="PresentationMode.PHYSICAL">Physical
                </mat-checkbox>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </ng-container>
      <div class="pt-1">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!--  second step-->
  <mat-step [stepControl]="secondFormGroup" label="Manage Presentation Slots">
    <form [formGroup]="secondFormGroup">
      <div>Presentations will be auto-scheduled according to the presentation slot.</div>
      <app-scheduler #slotScheduler></app-scheduler>
    </form>
  </mat-step>
  <mat-step label="Generate">
    <!--    <ng-template matStepLabel>Generate</ng-template>-->
    <ng-container *ngIf="form&&durationList.length>0">
      <form [formGroup]="form">
        <div>Presentation Duration:
          <mat-form-field style="width: 10%" appearance="fill">
            <mat-label>minutes</mat-label>
            <mat-select [formControl]="form.get('duration')">
              <mat-option *ngFor="let duration of durationList" [value]="duration">
                {{duration}}
              </mat-option>
            </mat-select>
            <!--            <input type="number" min="1" matInput [formControl]="form.get('duration')">-->
            <mat-error *ngIf="form.get('duration').invalid&&form.get('duration').touched">Please select a presentation
              duration.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </ng-container>


    <div>
      <span>
      <button mat-raised-button color="primary" *ngxPermissionsOnly="SystemRole.COORDINATOR" (click)="generate()">Generate</button>
      </span>
      <span class="pl-1" *ngIf="scheduleGenerated">
      <button mat-raised-button *ngxPermissionsOnly="SystemRole.COORDINATOR" color="primary" (click)="save()">Apply and Save</button>
      </span>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<ng-container *ngIf="resourceDataSource&&selectedDate&&eventSettings.dataSource">
  <ejs-schedule #scheduleObj cssClass='adaptive-rows' height='650px' [rowAutoHeight]='rowAutoHeight'
                [currentView]="currentView" [selectedDate]="selectedDate"
                [group]="group" (actionBegin)="onActionBegin($event)" [startHour]='startHour' [endHour]='endHour'
                [eventSettings]="eventSettings" cdkDropList [cdkDropListData]="autoScheduledPresentations"
                (dragStart)="onSchedulerDragStart($event)"
                (resizeStart)="onResizeStart($event)"
                (eventRendered)="onEventRendered($event)"
                (cellDoubleClick)="disablePopupOpen($event)" (cellClick)="disablePopupOpen($event)">


    <e-resources>
      <e-resource field='roomId' title='Room Type' [dataSource]='resourceDataSource' [allowMultiple]='allowMultiple'
                  name='MeetingRoom' textField='name' idField='id' colorField='color'>
      </e-resource>
    </e-resources>
    <e-views>
      <e-view option="TimelineDay"></e-view>
      <e-view option="TimelineWeek"></e-view>
    </e-views>
    <ng-template #eventSettingsTooltipTemplate let-data>
      <div class="tooltip-wrap">
        <div class="content-area">
          <ng-container *ngIf="!data.isBlock">
            <ng-container>
              <div *ngIf="isMaster()">
                Chairperson: {{(data.chairperson) ? data.chairperson.name : ''}}
              </div>
              <div>
                Panel:
                <ng-container *ngIf="data.panelModels&&data.panelModels.length>0;else dash">
                  <ng-container *ngFor="let panel of data.panelModels;let i=index">
                    <ng-container *ngIf="i!==0">,</ng-container>
                    {{panel.name}}
                  </ng-container>
                </ng-container>
                <ng-template #dash>-</ng-template>
              </div>
              <ng-container>Common Availability</ng-container>
              <ng-container
                *ngIf="data.commonAvailabilityList&&data.commonAvailabilityList.length>0;else noCommon">
                <ng-container *ngFor="let timeRange of data.commonAvailabilityList; let i = index">
                  <div>{{(timeRange.startTime|date:timeFormat) + ' - ' + (timeRange.endTime|date:timeFormat)}}</div>
                </ng-container>
              </ng-container>
            </ng-container>


          </ng-container>
          <ng-container *ngIf="data.isBlock">
            This time range is occupied by a presentation of {{data.scheduleModel.title}}
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ejs-schedule>
</ng-container>
<ng-template #noCommon>
  <div>-</div>
</ng-template>
