<div class="pl-1 pt-1">
  <mat-form-field appearance="fill">
    <mat-label>Search user availability</mat-label>
    <input matInput [matAutocomplete]="auto" (click)="applyFilter($event)" (keyup)="applyFilter($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let lecturer of filteredLecturers" [value]="lecturer.email" (click)="viewAvailability(lecturer.id)">
    <span>{{lecturer.name || 'Name not registered'}}</span> |
    <small>{{lecturer.email}}</small>
  </mat-option>
</mat-autocomplete>
<router-outlet></router-outlet>
