<div class="mt-1 mr-1" style="height: 50px;">
  <p align="right">
    <span class="pr-1"><button mat-raised-button (click)="navigateToAutoSchedule()" color="primary">Auto-schedule
    </button></span>
    <span><button mat-raised-button (click)="save()" color="primary">Save</button></span>

  </p>
</div>

<mat-sidenav-container style="background-color: white">
  <mat-sidenav style="
  width: 15%; border: none"
               mode="side" position="end" disableClose opened>
    <div cdkDropList [cdkDropListData]="presentationModels" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let presentation of presentationModels;let i=index;" cdkDrag
           (cdkDragStarted)="onCdkDragStart(presentation,i)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{presentation.studentName}}
        <div *cdkDragPreview>
          <div class="example-box">
            <div>{{presentation.title}}</div>
            <div>Student Name: {{presentation.studentName}}</div>
            <div>Supervisor: {{presentation.supervisorModel.name}}</div>
            <ng-container *ngIf="presentation.panelModels">
              <ng-container *ngFor="let panel of presentation.panelModels; let i = index">
                <div>Panel {{(i + 1) + ': ' + panel.name}}</div>
              </ng-container>
            </ng-container>
            <div>Common availability among panels:</div>
            <ng-container
              *ngIf="presentation.commonAvailabilityList&&presentation.commonAvailabilityList.length>0;else noCommon">
              <ng-container *ngFor="let timeRange of presentation.commonAvailabilityList; let i = index">
                <div>{{(timeRange.startTime|date:timeFormat) + ' - ' + (timeRange.endTime|date:timeFormat)}}</div>
              </ng-container>
            </ng-container>


          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="
  width: 84%;">
    <ng-container *ngIf="resourceDataSource&&selectedDate">
      <ejs-schedule #scheduleObj cssClass='adaptive-rows' height='650px' [rowAutoHeight]='rowAutoHeight'
                    [currentView]="currentView" [selectedDate]="selectedDate"
                    [group]="group" (actionBegin)="onActionBegin($event)" (actionComplete)="onActionComplete($event)"
                    [eventSettings]="eventSettings" cdkDropList [cdkDropListData]="scheduledPresentations"
                    (cdkDropListDropped)="drop($event)" (dragStart)="onSchedulerDragStart($event)"
                    (dragStop)="onSchedulerDragStop($event)"
                    (resizeStart)="onResizeStart($event)" (resizeStop)="onResizeStop($event)"
                    (eventRendered)="onEventRendered($event)"
                    (cellDoubleClick)="disablePopupOpen($event)" (cellClick)="disablePopupOpen($event)">


        <e-resources>
          <e-resource field='roomId' title='Room Type' [dataSource]='resourceDataSource' [allowMultiple]='allowMultiple'
                      name='MeetingRoom' textField='name' idField='id' colorField='color'>
          </e-resource>
        </e-resources>
        <e-views>
          <e-view option="TimelineDay"></e-view>
          <e-view option="TimelineWeek"></e-view>
        </e-views>

        <ng-template #eventSettingsTooltipTemplate let-data>
          <div class="tooltip-wrap">
            <div class="content-area">
              <ng-container>Common Availability</ng-container>
              <ng-container
                *ngIf="data.commonAvailabilityList&&data.commonAvailabilityList.length>0;else noCommon">
                <ng-container *ngFor="let timeRange of data.commonAvailabilityList; let i = index">
                  <div>{{(timeRange.startTime|date:timeFormat) + ' - ' + (timeRange.endTime|date:timeFormat)}}</div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </ejs-schedule>
    </ng-container>
  </mat-sidenav-content>


</mat-sidenav-container>
<ng-template #noCommon>
  <div>-</div>
</ng-template>
