<mat-sidenav-container style="background-color: transparent;">
  <mat-sidenav style="
  width: 15%;background-color: transparent; border: none" fixedInViewport fixedTopGap="250" fixedBottomGap="250"
               mode="side" position="end" disableClose opened>
    <mat-card>
      <mat-card-content>
        <div align="center" class="mt-1"><input #csvInput hidden="true" type="file" onclick="this.value=null"
                                                (change)="readXlsx($event)"/>
          <button matTooltip="Fill the form by reading the excel file uploaded. Name the first row according to the form input name and insert data in successive row. Able to read up to 3 panels." mat-flat-button color="primary" (click)="csvInput.click()">Input by Excel File</button>
        </div>
        <div *ngIf="readingExcel">
          <div align="center">Reading File...</div>
          <div align="center">
            <mat-progress-bar style="width:130px;"
                              [mode]="'indeterminate'">

            </mat-progress-bar>
          </div>
        </div>

        <div align="center" class="mt-1">
          <button mat-raised-button color="primary" (click)="addForm()">Add Presentation</button>
        </div>
        <div align="center" class="mt-1">
          <button mat-raised-button color="primary" *ngxPermissionsOnly="[constant.ROLE_SCHEDULE_COORDINATOR,SystemRole.OFFICE]" (click)="save()">Confirm and Save</button>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-sidenav>
  <mat-sidenav-content style="
  width: 84%;">
    <ng-container *ngIf="presentationModels.length">
      <mat-card class="mt-1" *ngFor="let presentation of presentationModels;let i = index">
        <mat-card-content>
          <div>
            <div>
              <ng-container
                *ngTemplateOutlet="titleDisplay;context:{title: 'Presentation Title'}"></ng-container>
              <mat-form-field class="w-50">
                <mat-label>Presentation Title</mat-label>
                <input matInput [(ngModel)]="presentation.title">
              </mat-form-field>

              <button style="float: right" [matMenuTriggerFor]="menu" mat-icon-button color="primary">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addPanel(presentation)">
                  <span>Add Panel</span>
                </button>
              </mat-menu>

              <button style="float: right" mat-icon-button color="primary" (click)="removeForm(i)">
                <mat-icon>delete_forever</mat-icon>
              </button>

              <div class="w-100">
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Supervisor'}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Supervisor Username (Email)</mat-label>
                  <input matInput [matAutocomplete]="auto" (click)="applyFilter($event)" (keyup)="applyFilter($event)"
                         [(ngModel)]="presentation.supervisorModel.email">

                </mat-form-field>
              </div>

              <div>
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Student Name'}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Student Name</mat-label>
                  <input matInput [(ngModel)]="presentation.studentName">
                </mat-form-field>
              </div>

              <div>
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Student Matric No.'}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Matric No.</mat-label>
                  <input matInput [(ngModel)]="presentation.studentMatrixNo">
                </mat-form-field>
              </div>

              <div>
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Student Email'}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Student Email</mat-label>
                  <input matInput [(ngModel)]="presentation.studentEmail">
                </mat-form-field>
              </div>

              <div *ngIf="isMaster()">
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Chairperson'}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Chairperson Username (Email)</mat-label>
                  <input matInput [matAutocomplete]="auto" (click)="applyFilter($event)" (keyup)="applyFilter($event)"
                         [(ngModel)]="presentation.chairperson.email">

                </mat-form-field>
              </div>

              <div *ngFor="let panel of presentation.panelModels;let i=index;">
                <ng-container
                  *ngTemplateOutlet="titleDisplay;context:{title: 'Panel '+(i+1).toString()}"></ng-container>
                <mat-form-field class="w-50">
                  <mat-label>Panel Username (Email)</mat-label>
                  <input matInput [matAutocomplete]="auto" (click)="applyFilter($event)" (keyup)="applyFilter($event)"
                         [(ngModel)]="panel.email">
                </mat-form-field>
                <button mat-icon-button color="primary"
                        (click)="removePanel(presentation.panelModels,i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>

            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </ng-container>
  </mat-sidenav-content>


</mat-sidenav-container>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let lecturer of filteredLecturers" [value]="lecturer.email">
    <span>{{lecturer.name || 'Name not registered'}}</span> |
    <small>{{lecturer.email}}</small>
  </mat-option>
</mat-autocomplete>
<ng-template #titleDisplay let-title="title">
  <div style="display: inline-block; width: 10%">
    {{title}}
  </div>
  <div style="display: inline-block;">
    :
  </div>
</ng-template>


