<ng-container *ngIf="scheduleModel">
  <ng-container>
    <div class="pl-2 pt-1"
         style="font: 400 34px/40px Roboto, 'Helvetica Neue', sans-serif;">{{scheduleModel.title}}
      <button *ngxPermissionsOnly="constant.ROLE_SCHEDULE_COORDINATOR" [matMenuTriggerFor]="more_menu" type="button"
              style="float: right" mat-icon-button color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #more_menu="matMenu">
      <button mat-menu-item (click)="showEditDialog()">
        Edit
      </button>
      <button mat-menu-item (click)="deleteScheduleConfirmation()">
        Delete this schedule
      </button>
    </mat-menu>
    <nav mat-tab-nav-bar *ngxPermissionsOnly="permissionsToNavbar">
      <!--      <a mat-tab-link-->
      <!--         *ngFor="let link of navLinks"-->
      <!--         [routerLink]="link.link"-->
      <!--         routerLinkActive #rla="routerLinkActive"-->
      <!--         [active]="rla.isActive">-->
      <!--        {{link.label}}-->
      <!--      </a>-->
      <a mat-tab-link
         [routerLink]="routeConstant.PRESENTATION_VIEW"
         (click)="activeLink = routeConstant.PRESENTATION_VIEW"
         [active]="activeLink == routeConstant.PRESENTATION_VIEW">
        Presentation
      </a>
      <a mat-tab-link
         [routerLink]="routeConstant.TIMETABLE"
         (click)="activeLink = routeConstant.TIMETABLE"
         [active]="activeLink == routeConstant.TIMETABLE">
        Timetable
      </a>
      <a mat-tab-link
         *ngxPermissionsOnly="constant.ROLE_SCHEDULE_COORDINATOR"
         [routerLink]="routeConstant.CRITERIA"
         (click)="activeLink = routeConstant.CRITERIA"
         [active]="activeLink == routeConstant.CRITERIA">
        Evaluation Criteria
      </a>
      <a mat-tab-link
         [routerLink]="routeConstant.EVALUATION_VIEW"
         (click)="activeLink = routeConstant.EVALUATION_VIEW"
         [active]="activeLink == routeConstant.EVALUATION_VIEW">
        Evaluation Report
      </a>
      <a mat-tab-link
         [routerLink]="routeConstant.GOOGLE_CALENDAR"
         (click)="activeLink = routeConstant.GOOGLE_CALENDAR"
         [active]="activeLink == routeConstant.GOOGLE_CALENDAR">
        Google Calendar
      </a>
    </nav>

  </ng-container>
  <router-outlet></router-outlet>
</ng-container>



