<ejs-schedule #presentationSlotSchedulerObj cssClass='adaptive-rows' [rowAutoHeight]='rowAutoHeight'
              [currentView]="currentView"
              [group]="group"
              [eventSettings]="eventSettings" cdkDropList
              (dragStart)="onSchedulerDragStart($event)"
              (dragStop)="onSchedulerDragStop($event)" (actionBegin)="onActionBegin($event)"
              (resizeStart)="onResizeStart($event)" (resizeStop)="onResizeStop($event)"
              (eventRendered)="onEventRendered($event)" (eventClick)="onEventClick($event)"
              (cellDoubleClick)="disablePopupOpen($event)" (cellClick)="onCellClick($event)">

  <e-resources>
    <e-resource field='roomId' title='Room Type' [dataSource]='resourceDataSource' [allowMultiple]='allowMultiple'
                name='MeetingRoom' textField='name' idField='id' colorField='color'>
    </e-resource>
  </e-resources>

  <e-views>
    <e-view option="TimelineDay"></e-view>
    <e-view option="TimelineWeek"></e-view>
  </e-views>

  <!-- Header template -->
  <ng-template #quickInfoTemplatesHeader let-data>
    <div class="quick-info-header">
      <div class="quick-info-header-content">
        <div class="quick-info-title" style="text-align: center">{{data.roomName}} Presentation Slot</div>
      </div>
    </div>
  </ng-template>

  <!-- Content Template -->
  <ng-template #quickInfoTemplatesContent let-data>
    <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? eventContent : eventContent"
                  [ngTemplateOutletContext]="{data:data}"></ng-container>
  </ng-template>
  <ng-template #eventContent let-data="data">
    <table *ngIf="data != undefined" width="100%" cellpadding="5">
      <tbody>
      <tr>
        <td>From</td>
        <td colspan="4">
          <ejs-datetimepicker class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                              [(ngModel)]="data.startTime"
          >
          </ejs-datetimepicker>
        </td>
      </tr>
      <tr>
        <td>To</td>
        <td colspan="4">
          <ejs-datetimepicker class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                              [(ngModel)]="data.endTime">
          </ejs-datetimepicker>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="quick-info-footer-wrapper">
      <button mat-raised-button class="mr-1" style="float:right;" (click)="deleteSelectedEvent()" color="primary">
        Delete
      </button>
    </div>

  </ng-template>
  <!-- Footer Template -->
  <!--    footer template does not display on event click-->
  <ng-template #quickInfoTemplatesFooter let-data>
  </ng-template>
</ejs-schedule>
