<ng-container *ngIf="general">
  <button mat-raised-button color="primary" class="large-button" style="margin-left: 30px;">View Overall Evaluation
    Report
  </button>
  <button mat-raised-button color="primary" class="large-button" style="margin-left: 30px;"
          (click)="switchManageCriteria()">Manage Evaluation Criteria
  </button>
  <button mat-raised-button color="primary" class="large-button" style="margin-left: 30px;">Manage Schedule</button>

</ng-container>
<app-evaluation-criteria *ngIf="manageCriteria" [scheduleId]="scheduleId"></app-evaluation-criteria>
