<!--<ng-container *ngIf=!auth()>-->
<!--  <div style="background-color: #4056A1;height: 100vh;">-->

<!--    <app-login></app-login>-->

<!--  </div>-->
<!--</ng-container>-->
<!--<div *ngxPermissionsOnly="constant.ROLE_SCHEDULE_COORDINATOR">{{constant.ROLE_SCHEDULE_COORDINATOR}}</div>-->
<!--<div *ngxPermissionsOnly="constant.ROLE_PANEL">{{constant.ROLE_PANEL}}</div>-->
<!--<div *ngxPermissionsOnly="constant.ROLE_SUPERVISOR">{{constant.ROLE_SUPERVISOR}}</div>-->

<mat-toolbar color="primary" *ngIf=isAuth()>
  <div class="spacer"></div>
    <a mat-button [routerLink]="routeConstant.DASHBOARD"
       routerLinkActive="router-link-active">Dashboard</a>
  <div *ngIf="user">
    <a mat-button [routerLink]="routeConstant.USER_MANAGEMENT" *ngxPermissionsOnly="SystemRole.ADMIN"
       routerLinkActive="router-link-active">User Management</a>
    <a mat-button [routerLink]="routeConstant.SCHEDULE_VIEW" *ngxPermissionsOnly="[SystemRole.COORDINATOR,SystemRole.LECTURER]"
       routerLinkActive="router-link-active">Schedule</a>
    <a mat-button [routerLink]="routeConstant.AVAILABILITY" *ngxPermissionsOnly="SystemRole.LECTURER"
       routerLinkActive="router-link-active">Availability</a>
  </div>
  <!--  <button mat-button color="primary" [routerLink]="routeConstant.SCHEDULE">-->
  <!--    <div style="color: white">Schedule</div>-->
  <!--  </button>-->
  <!--  <button mat-button color="primary" [routerLink]="routeConstant.AVAILABILITY">-->
  <!--    <div style="color: white">Availability</div>-->
  <!--  </button>-->
  <button mat-button color="primary" (click)="logout()">
    <div style="color: white">Logout</div>
  </button>
</mat-toolbar>
<mat-progress-bar [mode]="progressBarMode" value="0"></mat-progress-bar>

<p class="pt-1 pr-1" align="right">
  <button mat-raised-button color="primary" (click)="test()">Test Feature</button>
</p>

<router-outlet></router-outlet>
